body {
    background-color: #f5f5f5;
}

.nav-link {
    font-size: 20px;
    padding-right: 4rem;
}

.title {
    color: #232D4B;
}

.navbar {
    border-bottom: 3px solid #E57200;
}

#footer-container {
    position: fixed;
    bottom: 0;
    justify-content: center;
}