{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vis-network@latest/styles/vis-network.css" type="text/css" />
        <link rel="stylesheet" type="text/css" href="{% static '/darden/css/panes.css' %}" >

        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vis-network@latest/dist/vis-network.min.js"> </script>

    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/en/d/d1/Virginia_Cavaliers_sabre.svg" alt="uva_logo" width="150" height="50" />
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link" href="{% url 'daos:home' %}">Home</a>
                  <a class="nav-link active" aria-current="page" href="{% url 'daos:pane-view' %}">DAO Pane Analysis</a>
                  <a class="nav-link" href="#"></a>
                </div>
              </div>
            </div>
        </nav>

        <br>
        <div align="center">
            <h1 class="title">Pane Analysis of the DAOs Researched</h1>
        </div>

        <br>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                        On this page you will find a "10-pane" approach for the in-depth analyis conducted on each of the Decentralized Autonomous Organizations (DAOs). 
                        Each DAO has its own respective pane which consists of a network graph and various calculations below the network graph. The network graph is created by 
                        querying transaction data for a DAOs respective coin over a certain interval of time. The nodes in each chart correspond to the wallet addresses (both to 
                        and from) and the edges correspond to the transaction itself. Each edge contains the data-time stamp of the transaction, as well as, the amount of the respective 
                        token involved in the transaction. You may notice that some nodes are colored differently than the others in the chart, this is because I highlighted the Decentralized 
                        Exchanges (DEXs) and the DAO-specific contracts in order to develop a better understanding of how much of the typical transactions are peer-to-peer and fully 
                        decentralized. Furthermore, you may notice that some transactions are for zero coins, this is not an error as there are possible ways to engage in a transaction with 
                        zero coins. This type of transaction typically occurs in interactions between contracts or peers and contracts. 
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" align="center">Ethereum</h5>
                            <hr>
                            <div id="eth_network"></div>
                            <hr>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Nodes: 
                                </div>
                                <div class="col-4" id="eth_node_num">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Edges: 
                                </div>
                                <div class="col-4" id="eth_edge_num">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Connected Components: 
                                </div>
                                <div class="col-4" id="eth_scc_num">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Largest Connected Component: 
                                </div>
                                <div class="col-4" id="eth_lcc_num">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Density: 
                                </div>
                                <div class="col-4" id="eth_density_num">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Triangles: 
                                </div>
                                <div class="col-4" id="eth_triangle_num">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Transitivity: 
                                </div>
                                <div class="col-4" id="eth_trans">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="https://dune.com/lcai/aave-dao"><h5 class="card-title" align="center">Aave</h5></a>
                            <hr>
                            <div id="aave_network"></div>
                            <hr>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Nodes: 
                                </div>
                                <div class="col-4" id="aave_node_num">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Edges: 
                                </div>
                                <div class="col-4" id="aave_edge_num">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Connected Components: 
                                </div>
                                <div class="col-4" id="aave_scc_num">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Largest Connected Component: 
                                </div>
                                <div class="col-4" id="aave_lcc_num">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Density: 
                                </div>
                                <div class="col-4" id="aave_density_num">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Triangles: 
                                </div>
                                <div class="col-4" id="aave_triangle_num">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Transitivity: 
                                </div>
                                <div class="col-4" id="aave_trans">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="https://dune.com/awilliams/apecoin-dao"><h5 class="card-title" align="center">ApeCoin DAO</h5></a>
                            <hr>
                            <div id="ape_network"></div>
                            <hr>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Nodes: 
                                </div>
                                <div class="col-4" id="ape_node_num">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Edges: 
                                </div>
                                <div class="col-4" id="ape_edge_num">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Connected Components: 
                                </div>
                                <div class="col-4" id="ape_scc_num">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Largest Connected Component: 
                                </div>
                                <div class="col-4" id="ape_lcc_num">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Density: 
                                </div>
                                <div class="col-4" id="ape_density_num">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Triangles: 
                                </div>
                                <div class="col-4" id="ape_triangle_num">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Transitivity: 
                                </div>
                                <div class="col-4" id="ape_trans">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="https://dune.com/lcai/chiliz-dao"><h5 class="card-title" align="center">Chiliz</h5></a>
                            <hr>
                            <div id="chz_network"></div>
                            <hr>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Nodes: 
                                </div>
                                <div class="col-4" id="chz_node_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Edges: 
                                </div>
                                <div class="col-4" id="chz_edge_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Connected Components: 
                                </div>
                                <div class="col-4" id="chz_scc_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Largest Connected Component: 
                                </div>
                                <div class="col-4" id="chz_lcc_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Density: 
                                </div>
                                <div class="col-4" id="chz_density_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Triangles: 
                                </div>
                                <div class="col-4" id="chz_triangle_num">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Transitivity: 
                                </div>
                                <div class="col-4" id="chz_trans">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="https://dune.com/awilliams/curve-finance-dashboard"><h5 class="card-title" align="center">Curve DAO</h5></a>
                            <hr>
                            <div id="crv_network"></div>
                            <hr>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Nodes: 
                                </div>
                                <div class="col-4" id="crv_node_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Edges: 
                                </div>
                                <div class="col-4" id="crv_edge_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Connected Components: 
                                </div>
                                <div class="col-4" id="crv_scc_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Largest Connected Component: 
                                </div>
                                <div class="col-4" id="crv_lcc_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Density: 
                                </div>
                                <div class="col-4" id="crv_density_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Triangles: 
                                </div>
                                <div class="col-4" id="crv_triangle_num">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Transitivity: 
                                </div>
                                <div class="col-4" id="crv_trans">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="https://dune.com/awilliams/fei-dashboard"><h5 class="card-title" align="center">Frax Finance (Stable)</h5></a>
                            <hr>
                            <div id="frax_network"></div>
                            <hr>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Nodes: 
                                </div>
                                <div class="col-4" id="frax_node_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Edges: 
                                </div>
                                <div class="col-4" id="frax_edge_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Connected Components: 
                                </div>
                                <div class="col-4" id="frax_scc_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Largest Connected Component: 
                                </div>
                                <div class="col-4" id="frax_lcc_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Density: 
                                </div>
                                <div class="col-4" id="frax_density_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Triangles: 
                                </div>
                                <div class="col-4" id="frax_triangle_num">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Transitivity: 
                                </div>
                                <div class="col-4" id="frax_trans">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="https://dune.com/awilliams/fei-dashboard"><h5 class="card-title" align="center">Frax Finance (Algorithmic)</h5></a>
                            <hr>
                            <div id="fxs_network"></div>
                            <hr>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Nodes: 
                                </div>
                                <div class="col-4" id="fxs_node_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Edges: 
                                </div>
                                <div class="col-4" id="fxs_edge_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Connected Components: 
                                </div>
                                <div class="col-4" id="fxs_scc_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Largest Connected Component: 
                                </div>
                                <div class="col-4" id="fxs_lcc_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Density: 
                                </div>
                                <div class="col-4" id="fxs_density_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Triangles: 
                                </div>
                                <div class="col-4" id="fxs_triangle_num">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Transitivity: 
                                </div>
                                <div class="col-4" id="fxs_trans">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="https://dune.com/lcai/friends-with-benefits-dao"><h5 class="card-title" align="center">Friends With Benefits</h5></a>
                            <hr>
                            <div id="fwb_network"></div>
                            <hr>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Nodes: 
                                </div>
                                <div class="col-4" id="fwb_node_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Edges: 
                                </div>
                                <div class="col-4" id="fwb_edge_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Connected Components: 
                                </div>
                                <div class="col-4" id="fwb_scc_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Largest Connected Component: 
                                </div>
                                <div class="col-4" id="fwb_lcc_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Density: 
                                </div>
                                <div class="col-4" id="fwb_density_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Triangles: 
                                </div>
                                <div class="col-4" id="fwb_triangle_num">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Transitivity: 
                                </div>
                                <div class="col-4" id="fwb_trans">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="https://dune.com/lcai/league-dao"><h5 class="card-title" align="center">LeagueDAO</h5></a>
                            <hr>
                            <div id="leag_network"></div>
                            <hr>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Nodes: 
                                </div>
                                <div class="col-4" id="leag_node_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Edges: 
                                </div>
                                <div class="col-4" id="leag_edge_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Connected Components: 
                                </div>
                                <div class="col-4" id="leag_scc_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Largest Connected Component: 
                                </div>
                                <div class="col-4" id="leag_lcc_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Density: 
                                </div>
                                <div class="col-4" id="leag_density_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Triangles: 
                                </div>
                                <div class="col-4" id="leag_triangle_num">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Transitivity: 
                                </div>
                                <div class="col-4" id="leag_trans">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="https://dune.com/awilliams/mana-dashboard"><h5 class="card-title" align="center">Decentraland DAO</h5></a>
                            <hr>
                            <div id="mana_network"></div>
                            <hr>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Nodes: 
                                </div>
                                <div class="col-4" id="mana_node_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Edges: 
                                </div>
                                <div class="col-4" id="mana_edge_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Connected Components: 
                                </div>
                                <div class="col-4" id="mana_scc_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Largest Connected Component: 
                                </div>
                                <div class="col-4" id="mana_lcc_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Density: 
                                </div>
                                <div class="col-4" id="mana_density_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Triangles: 
                                </div>
                                <div class="col-4" id="mana_triangle_num">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Transitivity: 
                                </div>
                                <div class="col-4" id="mana_trans">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="https://dune.com/lcai/merit-circle-dao"><h5 class="card-title" align="center">Merit Circle</h5></a>
                            <hr>
                            <div id="mc_network"></div>
                            <hr>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Nodes: 
                                </div>
                                <div class="col-4" id="mc_node_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Edges: 
                                </div>
                                <div class="col-4" id="mc_edge_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Connected Components: 
                                </div>
                                <div class="col-4" id="mc_scc_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Largest Connected Component: 
                                </div>
                                <div class="col-4" id="mc_lcc_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Density: 
                                </div>
                                <div class="col-4" id="mc_density_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Triangles: 
                                </div>
                                <div class="col-4" id="mc_triangle_num">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Transitivity: 
                                </div>
                                <div class="col-4" id="mc_trans">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="https://dune.com/lcai/nouns-dao"><h5 class="card-title" align="center">Nouns DAO</h5></a>
                            <hr>
                            <div id="noun_network"></div>
                            <hr>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Nodes: 
                                </div>
                                <div class="col-4" id="noun_node_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Edges: 
                                </div>
                                <div class="col-4" id="noun_edge_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Connected Components: 
                                </div>
                                <div class="col-4" id="noun_scc_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Largest Connected Component: 
                                </div>
                                <div class="col-4" id="noun_lcc_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Density: 
                                </div>
                                <div class="col-4" id="noun_density_num">
    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Number of Triangles: 
                                </div>
                                <div class="col-4" id="noun_triangle_num">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-8" align="center">
                                    Transitivity: 
                                </div>
                                <div class="col-4" id="noun_trans">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>

        <!-- <div class="container-fluid" id="footer-container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
              <div class="col-4-md d-flex align-items-center" style="padding-left: 6em;">
                <span class="mb-3 mb-md-8 text-muted">© 2022 Alexander Williams</span>
              </div>
              <ul class="nav col-md-4 justify-content-end list-unstyled d-flex" style="padding-right: 6em;">
                <li class="ms-3">
                  <a class="text-muted" href="https://www.linkedin.com/in/alexander-williams-3bb75917a/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                      <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                    </svg>
                  </a>
                </li>
                <li class="ms-3">
                  <a class="text-muted" href="https://github.com/anw5ph">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                      <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg>
                  </a>
                  
                </li>
              </ul>
            </footer>
        </div> -->


        <script language="javascript">
            var eth = "{% static '/darden/js/json/eth.json' %}";
            var aave = "{% static '/darden/js/json/aave.json' %}";
            var ape = "{% static '/darden/js/json/ape.json' %}";
            var chz = "{% static '/darden/js/json/chz.json' %}";
            var crv = "{% static '/darden/js/json/crv.json' %}";
            var frax = "{% static '/darden/js/json/frax.json' %}";
            var fxs = "{% static '/darden/js/json/fxs.json' %}";
            var fwb = "{% static '/darden/js/json/fwb.json' %}";
            var leag = "{% static '/darden/js/json/leag.json' %}";
            var mana = "{% static '/darden/js/json/mana.json' %}";
            var mc = "{% static '/darden/js/json/mc.json' %}";
            var nouns = "{% static '/darden/js/json/nouns.json' %}";
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <script src="{% static '/darden/js/eth_pane.js' %}"></script>
        <script src="{% static '/darden/js/aave_pane.js' %}"></script>
        <script src="{% static '/darden/js/ape_pane.js' %}"></script>
        <script src="{% static '/darden/js/chz_pane.js' %}"></script>
        <script src="{% static '/darden/js/crv_pane.js' %}"></script>
        <script src="{% static '/darden/js/frax_pane.js' %}"></script>
        <script src="{% static '/darden/js/fxs_pane.js' %}"></script>
        <script src="{% static '/darden/js/fwb_pane.js' %}"></script>
        <script src="{% static '/darden/js/leag_pane.js' %}"></script>
        <script src="{% static '/darden/js/mana_pane.js' %}"></script>
        <script src="{% static '/darden/js/mc_pane.js' %}"></script>
        <script src="{% static '/darden/js/nouns_pane.js' %}"></script>
        
    </body>
</html>